<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dingdian.order">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 地理位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".ui.App"
            android:icon="@mipmap/logo"
            android:label="@string/appName"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:replace="android:label">
        <service android:name=".ui.bluetooth.BtService"/>

        <activity
                android:name=".ui.shop.SettingActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".ui.goods.GoodsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.comment.CommentActivity"
                android:screenOrientation="portrait"/>

        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>

        <activity
                android:name=".ui.main.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.login.LoginActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.goods.EditActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.bluetooth.SearchBluetoothActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.shop.TxActivity"
                android:screenOrientation="portrait"/>
    </application>

</manifest>